
# Maven build files
target/
**/target/

# Java compiled files
*.class

# IDE files
.idea/
.vscode/

# Environment / secrets
.env
.project
.classpath
.settings/
**/.project
**/.classpath
**/.settings/

# Node.js dependencies
node_modules/
